<div class="appDownload">

    <div class="img_slide img_cen"></div>
    <div class="img_slide img_l"></div>
    <div class="img_slide img_r"></div>
    <div class="down_out">
        <div class="title">下载<span>交费易</span>客户端</div>
        <div>
            <div class="fl img_code"></div>
            <div class="fr down_btn">
                <div style="margin-bottom:8px">
                    <img src="&CDN_Url&/Outside/appDownload/img/icon_iPhone.png?v=&version&">
                    For iPhone
                </div>
                <div style="margin-bottom: 6px">
                    <img src="&CDN_Url&/Outside/appDownload/img/icon_Android.png?v=&version&">
                    For Android
                </div>
                <span>V 5.0.6 (2017.01.10)</span>
            </div>
        </div>
    </div>
    <!-- 背景 start -->
    <div class="slide_box">

        <div class="slide"></div>
    </div>
    <!-- 背景 end -->
</div>