<meta charset="UTF-8">
<div class="header" id="header">
    <div id="header_logo_menu" class="header_logo_menu">
        <a href="#Login"><div id="header_logo" class="header_logo"></div></a>
        <div id="header_menu" class="header_menu">
            <ul id="index_menu" class="index_menu" style="height: 34px;">
                <li class="menu"><a class="menu-link-out" href="#introduction">交费易介绍</a></li>
                <li class="menu"><a class="menu-link-out" href="#product">产品介绍</a></li>
                <li class="menu"><a class="menu-link-out" href="">在线客服</a></li>
                <li class="menu"><a class="menu-link-out" href="#question">常见问题</a></li>
                <li class="menu other">
                    <a href="#appDownload">
                        <img src="&CDN_Url&/Outside/templates/header/img/icon_TEl.png?v=&version&">APP下载
                    </a><span style="color: #999999;">|</span><a id="id_webc"><img src="&CDN_Url&/Outside/templates/header/img/icon_WebC.png?v=&version&">公众号</a>
                </li>
            </ul>
        </div>
        <div id="id_header_webcode" class="header_webcode">
            <img src="&CDN_Url&/Outside/templates/header/img/icon_webcode.png?v=&version&">
            <div>微信扫一扫关注</div>
        </div>
    </div>
</div>