.introduction .slide_box{
    width: 100%;
    min-width: 1200px;
    height: 400px;
    position: absolute;
    left: 0px;
    z-index: -2;
}

.introduction .slide{
    width: 100%;
    height: 400px;
    background-image: url("&CDN_Url&/Outside/introduction/img/banner.png?v=&version&");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.introduction .content{
    padding-top: 400px;
    width: 100%;
}
.introduction .content_bg{
    background-color: #ffffff;
    padding-top: 84px;
    padding-left: 20px;
    padding-right: 20px;
}
.introduction .content table{
    width: 100%;
    text-align: center;

}
.introduction .content table td {
    padding-bottom:38px;
    font-size: 18px;
    color: #333333;
}
.introduction .content .title{
    font-size: 16px;
    color: #666666;
}
.introduction .content .img_out{
    margin-top: 60px;
}
.introduction .content .img_out .title{
    text-align: center;
    position: absolute;
    margin-top: -70px;
    width: 1200px;
}
.introduction .content .msg_out{
    margin-top: 60px;
    text-align: left;
}
.introduction .content .msg_out .title{
    margin-bottom: 20px;
}