@charset "UTF-8";
body{
    background-color: #f7f7f7;
}
.outside_header{
    background-color: white;
}
.header {
    width: 1200px;
    margin: 0 auto;
    z-index: 3;
    height: auto;
}
.header .header_shortcut {
    height: 30px;
    padding: 0px;
}
.header UL {
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header .intro {
    float: left;
}
.header .header_download {
    float: right;
}
.header UL LI {
    float: left;
    height: 34px;
    line-height: 34px;
    vertical-align: bottom;
}
.header UL LI A {
    outline: none;
    color: #0b6bb8;
    border: 0;
    text-indent: 0px;
    text-decoration: none;
    font-size: 14px;
    text-indent: 0px;
    cursor: pointer;
}
.header .header_logo_menu {
    height: 42px;
    width: 100%;
    min-width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .header_logo {
    height: 42px;
    width: 345px;
    float: left;
    background-image: url('&CDN_Url&/Outside/templates/header/img/logo_header.png?v=&version&');
    background-repeat: no-repeat;
    cursor: pointer;
}
.header .header_menu {
    float: right;
    height: 42px;
    line-height: 42px;
    margin-top: 5px;
}
.header .header_menu LI.menu {

}
.header .menu {
    width: 138px;
    cursor: pointer;
    text-align: center;
}
.header .header_menu UL LI A {

    text-decoration: none;
}
.header .menu-link-out {
    height: 42px;
    display: inline-block;
    color: #4c4c4c;
    font-size: 18px;
}
.header .menu-link-out:hover {
    color: #c81a67;
  }
.header .menu-select-out {
    color: #c81a67;

    font-size: 22px;
}
.header .header_menu .other{
    color: #3399cc;
    width: initial;
    margin-right: 24px;
    margin-left: 30px;
}
.header .header_menu .other A:first-child{
    margin-right: 10px;
}
.header .header_menu .other A:last-child{
    margin-left: 10px;
}
.header .header_menu .other img{
    margin-top: -3px;
}
.header .header_webcode{
    display: none;
    height: 248px;
    width: 138px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    margin-left: 1060px;
    margin-top: 45px;
    border: 1px solid #e6e6e6;
    z-index: 1000;
}
.header .header_webcode img{
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1000;
}
.header .header_webcode div{
    font-size: 14px;
    color: #333333;
    z-index: 1000;
}