@charset "UTF-8";
*{
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    outline:none;
    -webkit-touch-callout: none;
}
a, article, aside, b, blockquote, body, dd, del, dfn, dialog, hr, html, i, iframe,
div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
img, label, legend, li, mark, menu, nav, ol, p, pre, q, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, button, body *{
    margin: 0px;
    padding: 0px;
    font-sgetRandomize: 14px;
    font-family: "Microsoft YaHei";!important;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
}
::-webkit-input-placeholder{
    color: #cbcbcb;
}
.pageBody .common-body-style {
    display: none;
    margin: 0 auto;
    width: 1200px;
    min-height: 675px;
}
.pageBody .footer{
    min-width: 1200px;
}
.header-line {
    height: 2px;
    width: 100%;
    background-image: url("&CDN_Url&/lib/img/common/line.png?v=1.0.0");
    min-width: 1200px;
    margin: 5px 0px 5px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 25px;
}
.cf {
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tac{
    text-align: center;
}
.placeholder { color: rgba(0, 0, 0, 0.43) !important; }

/*安全密碼輸入框 樣式 start*/
.loginpwd{
    line-height:22px;
    border:none!important;
    height:22px;
    width:260px;
}
.inputloginpwd{

}
.paypwd{
    line-height:28px;
    border:none!important;
    height:28px;
    width:260px;
}
.inputpaypwd{
    /*margin-left: 235px!important;*/
    width: 255px!important;
    padding-right: 0px!important;
}
.hiddenPWD{
    height: 0px;
    /*position: absolute;*/
    /*bottom: -20px;*/
}
/*安全密碼輸入框 樣式 end*/

/*Loading dialog start*/
.LoadingDialogBox_bg{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0.0rem;
    left: 0.0rem;
    filter: alpha(opacity = 50);
    opacity: 0.4;
    z-index: 8;
    display: none;
}
.LoadingDialogBox{
    width: 160px;
    height: 160px;
    background-image: url("&CDN_Url&/lib/img/loading.gif?v=1.0.0");
    z-index: 9;
    background-size: 100% 100%;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-80px;
    margin-left:-80px;
    display: none;
}
/*Loading dialog end*/

/* input start */
.input-wrap{
    color: #626262;
    border: 1px solid #cccccc;
    background-color: #FEFFFF;
    border-radius: 3px;
}
.input-wrap-focus{
    border: 1px solid #666666;
}
.input-wrap .input-out{
    margin: 2px;
    display: flex;
}
.input-wrap .input-text{
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(82,168,236,0);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(82,168,236,0);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(82,168,236,0);
    border: none;
    color: #2e2e2e;
    font-size: 18px;
    margin: 2px;
    outline: none;
    background: none;
}
.input-out div{
    display: inline-block;
}
.input-out .input-pass{
    margin-top: 5.5px;
    /*position: absolute;*/
    margin-left: -270px;
    z-index: -1;
}
.input-icon i{
    margin-top: 10px;
    margin-left: 4px;
}
/* input end*/
