﻿ {{#each dataList}}
<Row>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{orderID}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{outsideOrderID}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{tradingTime}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{orderType}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{serviceType}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{productType}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{enterpriseAccount}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{paymentAccount}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{serviceObject}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{sumPayable}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{paymentAmount}}</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="String">{{orderState}}</Data></Cell>
</Row>
{{/each}}
