﻿<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Created>1996-12-17T01:32:42Z</Created>
    <LastSaved>2013-08-02T09:21:24Z</LastSaved>
    <Version>11.9999</Version>
</DocumentProperties>
    <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
        <RemovePersonalInformation/>
    </OfficeDocumentSettings>
    <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
        <WindowHeight>4530</WindowHeight>
        <WindowWidth>8505</WindowWidth>
        <WindowTopX>480</WindowTopX>
        <WindowTopY>120</WindowTopY>
        <AcceptLabelsInFormulas/>
        <ProtectStructure>False</ProtectStructure>
        <ProtectWindows>False</ProtectWindows>
    </ExcelWorkbook>
    <Styles>
        <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom"/>
        <Borders/>
        <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
        <Interior/>
        <NumberFormat/>
        <Protection/>
        </Style>
        <Style ss:ID="s63">
            <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
            <Font ss:Size="11" ss:Color="#FFFFFF" ss:Bold="1"/>
            <Interior ss:Color="#0000D4" ss:Pattern="Solid"/>
        </Style>
        <Style ss:ID="s64">
            <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
        </Style>
    </Styles>
    <Worksheet ss:Name="{{sheetName}}">
        <Table ss:ExpandedColumnCount="{{columnNum}}" ss:ExpandedRowCount="{{rowNum}}" x:FullColumns="1"
               x:FullRows="1" ss:DefaultColumnWidth="120" ss:DefaultRowHeight="15">
            <Column ss:AutoFitWidth="0" ss:Width="72" ss:Span="11"/>
            <Row ss:AutoFitHeight="0" ss:Height="14">
                <Cell ss:StyleID="s63"><Data ss:Type="String">订单号</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">外部订单号</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">交易时间</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">订单类型</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">业务类型</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">产品类型</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">企业账户</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">支付账户</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">业务对象</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">应付金额(元)</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">实付金额(元)</Data></Cell>
                <Cell ss:StyleID="s63"><Data ss:Type="String">订单状态</Data></Cell>
            </Row>