<div>交费易 -> 生活便民 -> 手机充值</div>
<br>
<div style="display: none;" id="id_model_wrap">

    <div class="input-wrap">
        <div class="input-out">
            <span class="input-icon"><i class="icon-edit"></i></span>
            <input class="input-text" id="PhoneNumber" type="text" maxlength="13" name="PhoneNumber" value=""
                   my-placeholder="输入手机号">
        </div>
    </div>
    <br/>
    <div class="input-wrap">
        <div class="input-out">
            <span class="input-icon"><i class="icon-edit"></i></span>
            <input class="input-text" id="BackNumber" type="text" maxlength="22" name="BackNumber" value=""
                   my-placeholder="输入银行卡号">
        </div>
    </div><br/>
    <div class="input-wrap">
        <div class="input-out">
            <span class="input-icon"><i class="icon-edit"></i></span>
            <input class="input-text" id="IntNumber" type="text" maxlength="12" name="IntNumber" value=""
                   my-placeholder="输入金额">
        </div>
    </div><br/>

    <div id="id_updata_wrap">
        <input  class="btn" type="file" name="file" id="id_SelectFile" />
    </div>




</div>

