<div>
    水电煤
</div>

<div class="control-group">
    <label class="control-label">DateTime Picking</label>
    <div class="controls input-append date form_datetime" id="datetimepicker" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
        <input size="16" type="text" value="" readonly>
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <input type="hidden" id="dtp_input1" value="" /><br/>
    <div class="input-wrap" style="height: 36px;">
        <div class="input-out">
            <span class="input-icon"><i class="icon-lock"></i></span>
            <input class="input-text" id="paypwd-show" type="text" readonly="readonly" name="username" value=""
                   my-placeholder="输入密码">
            <!--安全密码控件 id : paypwd-->
            <div class="input-pass" ng-include="'/WebCommon/Security/PayPasswordView.hbs?v=&randNumber&'"></div>
        </div>
    </div>


</div>