<ul class="nav nav-tabs">
    <li class="active"><a href="#Income" data-toggle="tab">收入</a></li>
    <li><a href="#Disbursement" data-toggle="tab">支出</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="Income">
        <div id="Income_show" style="min-width: 310px;width: 700px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="tab-pane fade" id="Disbursement">
        <div id="Disbursement_show" style="min-width: 310px;width: 700px; height: 400px; margin: 0 auto"></div>
    </div>
</div>