.Login .slide_box{
    width: 100%;
    min-width: 1200px;
    height: 675px;
    position: absolute;
    left: 0px;
    z-index: -2;
}
.Login .slide{
    width: 100%;
    height: 675px;
    background-image: url("&CDN_Url&/Outside/Login/img/slide_1.png?v=&version&");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.Login .msg_form{
    float: right;
    margin-top: 80px;
    height: 360px;
    width: 436px;
    display: block;
}
.Login .msg_form_bg{
    /*background: rgb(0, 0, 0);*/
    filter: alpha(opacity = 50);
    opacity: 0.4;
    /*width: 400px;*/
    height: 360px;
    position: absolute;
    z-index: -1;
}

.Login .msg_form_content{
    height: 375px;
    background-color: rgba(255, 255, 255, 0.7);
}
.Login .msg_form_content form{
    padding-left: 43px;
    padding-right: 43px;
    text-align: center;
}
.Login .msg_form_content .input-wrap{
    margin-bottom: 20px;
    height: 48px;
}
.Login .msg_form_content .input-wrap .input-out{
    margin: 8px 2px 0px 10px;
}
.Login .msg_form_content .input-text{
    width: 260px;
}
.Login .title{
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    font-family: "Microsoft YaHei";
}
.Login .input-icon i {
    margin-top: 3px;
    margin-left: 4px;
}
.Login [class^="icon-"], [class*=" icon-"]{
    width: 20px;
    height: 20px;
    background-position:0px 0px ;
}
.Login .icon-user{
    background-image:url("&CDN_Url&/Outside/Login/img/icon-user.png?v=&version&");
}
.Login .icon-lock{
    background-image:url("&CDN_Url&/Outside/Login/img/icon-lock.png?v=&version&");
}

.Login .bootstrap_out{
    padding-top: 550px;
    width: 100%;
}
.Login .bootstrap_out .login_bulletin{
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
}
.Login .bootstrap_out table{
    width: 100%;
    height: 225px;
    text-align: center;
}
.Login .bootstrap_out .login_bootstrap{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
}

.Login .btn{
    width: 100%;
    background-color: #c81a67;
    color: #ffffff;
    height: 50px;
    background-image: inherit;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.Login .btnA {
    font-weight: bold;
    text-decoration: none;
    color: #666666;
    font-size: 16px;
}
.Login .loading_out{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    z-index: 100;
}
.Login .loading_out img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.Login .vcode_out img{
    float: left;
}
.Login .vcode_out .input-wrap{
    width: 238px;
    float: right;
}