<meta charset="UTF-8">
<div class="header-line"></div>
<div class="header" id="header">
    <div id="header_shortcut" class="header_shortcut">
        <div id="intro" class="intro">
            <ul>
                <li><img src="&CDN_Url&/lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="https://www.bestpay.com.cn/companyindex" target="_blank">公司介绍</a></li>
                <li><img src="&CDN_Url&/lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="/bppf/introduce/product.do">产品介绍</a></li>
            </ul>
        </div>
        <div id="header_download" class="header_download">
            <ul>
                <li><span style="color: rgb(11, 107, 184);">商户ID：{{userName}}</span></li>
                <li><img src="&CDN_Url&/lib/templates/header/img/dot.png?v=&version&">&nbsp;<a href="/api/logout">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="header_logo_menu" class="header_logo_menu">
        <div id="header_logo" class="header_logo" onclick="document.location.href='/Index/main.html#/Index'">
        </div>
        <div id="header_menu" class="header_menu">
            <ul id="index_menu" class="index_menu" style="height: 34px;">
                <!--<li tip="HOMEPAGE" class="menu" url="#" select="true"-->
                    <!--menuId="16189"><a class="menu-link menu-select">首页</a>-->
                <!--</li>-->
                <!--<li tip="IPOSHOMEPAGE" class="menu" url="#" select="false"-->
                    <!--menuId="16220">-->
                    <!--<a class="menu-link">交费易</a>-->
                <!--</li>-->
                <!--<li tip="" class="menu" url="#" select="false"-->
                    <!--menuId="26600">-->
                    <!--<a id="openEpt" class="menu-link">企业理财</a>-->
                <!--</li>-->
                <!--<li tip="" class="menu" url="#" select="false"-->
                    <!--menuId="16221">-->
                    <!--<a class="menu-link">交易查询</a>-->
                <!--</li>-->
                <!--<li tip="" class="menu" url="#" select="false"-->
                    <!--menuId="16222">-->
                    <!--<a class="menu-link">账户管理</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<div class="header-line" style="top: 115px;"></div>