.product .item{
    margin-top: 20px;
    background-color: #ffffff;
    border:1px solid #f2f2f2;
}
.product .item table {
    width: 100%;
}
.product .item table .table_l {
    width: 254px;
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
}
.product .item table .table_l div {
    margin-bottom: 20px;
}
.product .item table .table_r {
    border-left: 1px solid #f3dbe5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product .item table .table_r .title_out{
    margin-left: 60px;
    color: #666666;
    font-size: 14px;
}
.product .title_out .title_l{
    width: 112px;
    color: #c81a67;
    font-size: 16px;
    display: inline-table;
}
.product .title_out .title_r{
    width: 760px;
    display: inline-table;
}
.product .title_out div{
    margin-bottom: 20px;
}