<div class="introduction">
    <!-- 广告 start -->
    <div class="slide_box">
        <div class="slide"></div>
    </div>
    <!-- 广告 end -->

    <div class="content">
        <div class="content_bg">
            <table>
                <tr>
                    <td><img src="&CDN_Url&/Outside/introduction/img/icon_topology.png?v=&version&"></td>
                    <td><img src="&CDN_Url&/Outside/introduction/img/icon_innovation.png?v=&version&"></td>
                    <td><img src="&CDN_Url&/Outside/introduction/img/icon_approving.png?v=&version&"></td>
                    <td><img src="&CDN_Url&/Outside/introduction/img/icon_proves.png?v=&version&"></td>
                </tr>
                <tr>
                    <td>电信布局</td>
                    <td>创新企业</td>
                    <td>人行核准</td>
                    <td>证监会</td>
                </tr>
            </table>
            <div class="title">甜橙金融成立于2011年3月，是中国电信布局互联网金融的重要板块，是互联网金融行业领先的创新企业，是中国人民银行核准的第三方支付机构、中国证监会核准的基金支付结算机构。</div>
            <div class="img_out">
                <img src="&CDN_Url&/Outside/introduction/img/icon_time_line.png?v=&version&">
                <div class="title">公司成立五年，一直保持高速规模发展态势，2015年交易额超过7722亿元，2016年交易额突破10000亿元。</div>
            </div>
            <table class="msg_out">
                <tr valign="top">
                    <td style="width: 454px;padding-right: 18px;">
                        <img src="&CDN_Url&/Outside/introduction/img/icon_orange_finance.png?v=&version&">
                    </td>
                    <td style="line-height: 32px;">
                        <div class="title">甜橙金融旗下拥有翼支付、交费易、甜橙财富、橙分期、甜橙保险、甜橙云贷、甜橙国际、甜橙信用、甜橙云等子产品牌。</div>
                        <div class="title">其中翼支付业务已经覆盖全国350个主要城市 ，合作商家超过60万家，用户超过2.5亿。与支付宝、微信支付成为国内前三大个人移动支付APP。</div>
                        <dvi class="title">交费易是中国电信甜橙金融旗下品牌，致力于为中小商户提供民生缴费、社区金融和移动收款等业务支持。交费易通过搭建生态圈，聚集商户和消费者，为实体门店引客增收，助力实体门店的升级转型。交费易已经覆盖全国31个省市，超过100万商户，是全国领先的B2b2c综合服务平台。</dvi>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>