<div class="Login">
    <!-- 广告 start -->
    <div class="slide_box">
        <div class="slide"></div>
    </div>
    <!-- 广告 end -->

    <!-- 登录表单 start  -->
    <div style="display: none;" class="msg_form" id="msg_form">
        <div id="id_login_loading" class="loading_out" style="display: none;">
            <img src="&CDN_Url&/Outside/Login/img/login_loading.gif?v=&version&">
        </div>
        <div class="msg_form_bg"></div>
        <div class="msg_form_content">
            <form action="/api/login" method="post">
                <div class="tac title">交费易商户登录</div>
                <div class="input-wrap">
                    <div class="input-out">
                        <span class="input-icon"><i class="icon-user"></i></span>
                        <input class="input-text" id="login-username" type="text" name="username" value=""
                               my-placeholder="请输入登录账号">
                    </div>
                </div>
                <div class="input-wrap" style="height: 48px;">
                    <div class="input-out">
                        <span class="input-icon"><i class="icon-lock"></i></span>
                        <input class="input-text" id="loginpwd-show" type="text" readonly="readonly" name="username" value=""
                               my-placeholder="请输入登录密码">
                        <!--安全密码控件 id : loginpwd-->
                        <div class="input-pass" ng-include="'/WebCommon/Security/LoginPasswordView.hbs?v=&randNumber&'"></div>
                    </div>
                </div>
                <div class="vcode_out">
                    <img id="id-vcode-img" src="/api/vcode?vCodeHeight=48&vCodeWidth=102"/>
                    <div class="input-wrap">
                        <div class="input-out">
                            <input class="input-text" id="login-vcode" maxlength="4" type="text" name="vcode" value=""
                                   my-placeholder="请输入验证码">
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="machineNetwork" id="machineNetwork">
                    <input type="hidden" name="machineCPU" id="machineCPU">
                    <input type="hidden" name="machineDisk" id="machineDisk">
                </div>
                <input type="submit" class="hidden" id="id_submit">
                <input type="button" class="btn" id="GetPwd" value="登录">
                <br/>
                <div>
                    <span class="fl"><a class="btnA" href="#registration">开户注册</a></span>
                    <span class="fr"><a class="btnA" href="#forgetLoginPass">忘记密码</a></span>
                </div>
            </form>
        </div>
    </div>
    <!-- 登录表单 end  -->

    <!-- 产品介绍引导 start -->
    <div class="bootstrap_out">
        <div class="login_bulletin">
            <div>123456</div>
        </div>
        <div class="login_bootstrap">
            <table>
                <tr>
                    <td><a href="#product"><img src="&CDN_Url&/Outside/Login/img/icon_live_app_login.png?v=&version&"></a></td>
                    <td><a href="#product"><img src="&CDN_Url&/Outside/Login/img/icon_financial_login.png?v=&version&"></a></td>
                    <td><a href="#product"><img src="&CDN_Url&/Outside/Login/img/icon_receipt_login.png?v=&version&"></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 产品介绍引导 end -->
</div>