.appDownload .slide_box{
    width: 100%;
    min-width: 1200px;
    height: 676px;
    position: absolute;
    left: 0px;
    z-index: -2;
}

.appDownload .slide_box .slide{
    width: 100%;
    height: 676px;
    background-image: url("&CDN_Url&/Outside/appDownload/img/P1.png?v=&version&");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.appDownload .img_slide{
    position: absolute;
    width: 230px;
    height: 408px;
    background-position: center;
    background-repeat: no-repeat;

}
.appDownload .img_cen{
    background-image: url("&CDN_Url&/Outside/appDownload/img/icon_cen.png?v=&version&");
    margin-top: 123px;
    margin-left: 250px;
}
.appDownload .img_l{
    background-image: url("&CDN_Url&/Outside/appDownload/img/icon_lr.png?v=&version&");
    margin-top: 123px;
    margin-left: 1px;
}
.appDownload .img_r{
    background-image: url("&CDN_Url&/Outside/appDownload/img/icon_lr.png?v=&version&");
    margin-top: 123px;
    margin-left: 500px;
}
.appDownload .down_out{
    position: absolute;
    margin-left: 800px;
    margin-top: 180px;
    width: 350px;
}
.appDownload .down_out .title{
    color: #ffffff;
    font-size: 42px;
    height: 42px;
    margin-bottom: 40px;
}
.appDownload .down_out .title span{
    color: #ffff00;
}
.appDownload .down_out .img_code{
    height: 132px;
    width: 132px;
    background-image: url("&CDN_Url&/Outside/appDownload/img/icon_webcode.png?v=&version&");
}
.appDownload .down_out .down_btn{
    width:198px;
}
.appDownload .down_out .down_btn div{
    color: #333333;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 2px;
    height: 50px;
    padding: 4px 0px 0px 20px;
}
.appDownload .down_out .down_btn span{
    color: #ffffff;
    font-size: 12px;
}