<div class="product">
    <div class="item">
        <table>
            <tr valign="top">
                <td class="table_l">
                    <div><img src="&CDN_Url&/Outside/product/img/icon_live_app.png?v=&version&"></div>
                    <div>民生应用</div>
                </td>
                <td class="table_r">
                    <div class="title_out">
                        <div><span class="title_l">手机充值</span>支持全国电信、移动、联调的手机话费空中充值服务。</div>
                        <div><span class="title_l">固话/宽带充值</span>支持全国电信固话和宽带产品的充值服务。</div>
                        <div><span class="title_l">翼支付充值</span>支持为翼支付个人账户充值服务。</div>
                        <div><span class="title_l">水电煤</span>支持全国多个省市的水电煤缴费服务。</div>
                        <div><span class="title_l">QQ充值</span>支持腾讯Q币、QQ会员、QQ堂、QQ秀、QQ游戏、QQ空间充值服务。</div>
                        <div><span class="title_l">交通罚款</span><span class="title_r">目前可支持交通违章的罚单缴费（除以下三种情况：现在罚单、违章涉及扣分项目、罚金超过500元，不能缴交），代办周期为2-7个工作日。</span></div>
                        <div><span class="title_l">翼支付卡</span>支持全国翼支付个人账户充值卡销售。</div>
                        <div><span class="title_l">游戏快充</span>支持腾讯、网易、搜狐、盛大等多家公司游戏点卡和直充业务服务。</div>
                        <div><span class="title_l">话费充值卡</span>支持全国电信卡销售。</div>
                        <div><span class="title_l">3G流量卡</span>支持全国电信用户的手机流量充值服务。</div>
                        <div><span class="title_l">综合缴费</span><span class="title_r">支持在广东地区已办理电信综合缴费套餐的用户，可在该业务中输入任意绑定在该套餐内的手机、固话、宽带和小灵通号码来缴费。</span></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="item">
        <table>
            <tr valign="top">
                <td class="table_l">
                    <div><img src="&CDN_Url&/Outside/product/img/icon_financial.png?v=&version&"></div>
                    <div>金融理财</div>
                </td>
                <td class="table_r">
                    <div class="title_out">
                        <div><span class="title_l">添益宝</span><span class="title_r">是由交费易为广大商户（当期仅包括交费易个人商户、企业商户）推出的金融理财服务，当前已开通基于货币基金的余额增值税服务。客户签约开通理财应用后，其可以将翼支付账户中的资金转入理财应用中，申购相应额度的基金理财产品。申购资金同时可以自由消费、转入、提现，即划付金额自动做货币基金赎回。</span></div>
                        <div><span class="title_l">甜橙小贷</span><span class="title_r">甜橙小贷是中国电信天翼金控旗下的面向小微企业、个人融资信息服务平台，旨在解决小微企业经营发展、个人生活消费贷款等资金短缺的问题，提供普惠金融服务。</span></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="item">
        <table>
            <tr valign="top">
                <td class="table_l">
                    <div><img src="&CDN_Url&/Outside/product/img/icon_receipt.png?v=&version&"></div>
                    <div>收单支付</div>
                </td>
                <td class="table_r">
                    <div class="title_out">
                        <div><span class="title_l">我要收款</span>支持支付宝、微信、翼支付等主流移动支付方式，支持主扫模式，支持信用卡支付。</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>