@charset "UTF-8";
.footer{
    margin-top: 80px;
    margin-bottom: 20px;
}
.footer{
    background-color: #f7f7f7;
}
.footer .copyrightInfo {
    padding-bottom: 20px;
    padding-top: 80px;
}
.footer .copyright {
    width: 1200px;
    margin: 0 auto;
    color: #757575;
    text-align: center;
    position: relative;
}
.footer img {
    vertical-align: middle;
    outline: 0;
}
.footer .footerLogo {
    position: absolute;
    top: -14px;
    left: -4px;
}
.footer .copyrightText {
    font-size: 12px;
    color: #666;
}
.footer .inner {
    width: 1200px;
    margin: 0 auto;
}
.footer .widget {
    height: 176px;
    margin-top: 30px;
}
.footer .partner {
    width: 138px;
    float: left;
}
.footer .appdl {
    width: 378px;
    float: left;
    margin-left: 80px;
}
.footer .link {
    width: 260px;
    float: left;
    margin-left: 102px;
    position: relative;
}
.footer .widget .widgetName {
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.footer .widget .widgetName span{
    margin-left: 6px;
}

.footer .widget .widgetContent {
    margin: 15px 0 0 20px;
}
.footer .cf {
    display: table;
}
.footer .appClient {
    background: url('&CDN_Url&/lib/templates/footer/img/clientBg.png?v=1.0.0') no-repeat center center;
    margin-top: 15px;
    width: 377px;
    height: 116px;
    position: relative;
}
.footer .hotArea01 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 11px;
    left: 173px;
}
.footer .hotArea02 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 11px;
    left: 270px;
}
.footer .down01 {
    background-image: url('&CDN_Url&/lib/templates/footer/img/down01.png?v=1.0.0');
    height: 14px;
    position: absolute;
    bottom: 6px;
    right: 138px;
    width: 61px;
}
.footer .down02 {
    background-image: url('&CDN_Url&/lib/templates/footer/img/down02.png?v=1.0.0');
    width: 85px;
    height: 15px;
    position: absolute;
    bottom: 6px;
    right: 24px;
    width: 84px;
}
.footer #kf-ul {
    list-style: none;
    margin-top: 35px;
    cursor: pointer;
}
.footer #kfBg {
    height: 94px;
    width: 67px;
    background-image: url("&CDN_Url&/lib/templates/footer/img/kf_bg_default.png?v=1.0.0");
}

.footer .widget .widgetRows {
    font-size: 13px;
    line-height: 22px;
}
.footer .kf-li-float {
    float: left;
}
