<ul class="nav nav-tabs">
    <li class="active"><a href="#Proportion" data-toggle="tab">2016占比</a></li>
    <li><a href="#Surrounds" data-toggle="tab">2015、2016</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="Proportion">
        <div id="Proportion_show" style="min-width: 310px;width: 700px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="tab-pane fade" id="Surrounds">
        <div id="Surrounds_show" style="min-width: 310px;width: 700px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<div id="id_download_wrap">
    <input type="button" class="btn" id="id_DownloadFile" value="下载文件">
</div>

<div id="id_download_wrap">
    <input type="button" class="btn" id="id_DownloadBigFile" value="下载大数据文件">
</div>