<meta charset="UTF-8">
<div class="footer">
    <div class="inner cf">

    </div>
    <div class="copyrightInfo">
        <div class="copyright">
            <p class="copyrightText">版权所有（C）天翼电子商务有限公司&nbsp;&nbsp;沪ICP备08103358号</p>
        </div>
    </div>
</div>
