@charset "UTF-8";
.header {
    width: 1200px;
    margin: 0 auto;
    z-index: 3;
    height: auto;
}
.header .header_shortcut {
    height: 30px;
    padding: 0px;
}
.header UL {
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header .intro {
    float: left;
}
.header .header_download {
    float: right;
}
.header UL LI {
    float: left;
    height: 34px;
    line-height: 34px;
    margin: 0px 8px 0px 8px;
    vertical-align: bottom;
}
.header UL LI A {
    outline: none;
    color: #0b6bb8;
    border: 0;
    text-indent: 0px;
    text-decoration: none;
    font-size: 14px;
    text-indent: 0px;
    cursor: pointer;
}
.header .header_logo_menu {
    height: 52px;
    width: 100%;
    min-width: 1200px;
    margin-top: 20px;
}
.header .header_logo {
    height: 42px;
    width: 345px;
    float: left;
    background-image: url('&CDN_Url&/lib/templates/header/img/logo_header.png?v=&version&');
    background-repeat: no-repeat;
    cursor: pointer;
}
.header .header_menu {
    float: right;
    height: 52px;
    line-height: 52px;
    margin-top: 10px;
}
.header .header_menu LI.menu {
    border-radius: 5px;
}
.header .menu {
    width: 90px;
    cursor: pointer;
    text-align: center;
}
.header .header_menu UL LI A {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.header .menu-link {
    width: 90px;
    height: 34px;
    display: inline-block;
    color: #4c4c4c;
}
.header .menu-link:hover {
    width: 72px;
    text-align: center;
    color: #ffffff;
    background-image: url('&CDN_Url&/lib/templates/header/img/header_menu_small_bg.png?v=&version&')
}
.header .menu-select {
    color: #ffffff;
    background-image: url('&CDN_Url&/lib/templates/header/img/header_menu_big_bg_orage.png?v=&version&')
}
.header .menu-select:hover {
    width: 90px;
    background-image: url('&CDN_Url&/lib/templates/header/img/header_menu_big_bg_orage.png?v=&version&')
}


