<div class="question" id="id_question">

    <div class="classification">
        <div class="fl icon_tag"><img src="&CDN_Url&/Outside/question/img/icon_question.png?v=&version&">常见问题分类</div>
        <div class="fr items" id="id_items"></div>
    </div>
    <div class="answers">
        <div class="fl title" id="id_titles">
            <div>为什么绑卡失败?</div>
            <div>支持绑定哪些银行卡?</div>
            <div class="select_title"><img src="&CDN_Url&/Outside/question/img/icon_left.png?v=&version&">如何更换银行卡?</div>
        </div>
        <div class="fr answer" id="id_answers">
            <div class="answer_title">为什么绑卡失败?</div>
            <div>
                出现这种情况的可能原因：<br/>①商户的注册资料与银行方的银行卡登记信息不符；<br/>②银联系统资料库调用信息有误引起。<br/>处理方式：<br/>（1）商户通过客服核实注册信息是否有误（申请人姓名、身份证号），如有即申请修改；<br/>（2）商户自行与银行方联系确认信息，如确认信息与“交费易”注册信息无误的情况下，目前暂时只能更换其他银行卡进行绑卡操作。
            </div>
        </div>
    </div>
</div>