<!DOCTYPE html>
<html>
<head id="head">
    <meta charset="UTF-8">
    <link rel="icon" href="&CDN_Url&/lib/img/common/icon.ico" type="images/x-icon"/>
    <link rel="apple-touch-icon" href="&CDN_Url&/lib/img/common/icon.ico" type="images/x-icon"/>
    <link rel="shortcut icon" href="&CDN_Url&/lib/img/common/icon.ico" type="images/x-icon"/>
    <link rel="bookmark" href="&CDN_Url&/lib/img/common/icon.ico" type="images/x-icon"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="keywords" content="翼支付企业账户，企业账户，翼支付，天翼电子商务有限公司，中国电信" />
    <meta http-equiv="description" content="翼支付企业账户" />
    <title>交费易自服务门户</title>
<!-- 单元测试 -->
    {{testFrame}}

    <link type="text/css" rel="stylesheet" href="&CDN_Url&/lib/css/bestpay.page.css?v=&version&" media="screen" />
    <link type="text/css" rel="stylesheet" href="&CDN_Url&/lib/templates/footer/css/bestpay.footer.css?v=&version&" media="screen" />
    <link type="text/css" rel="stylesheet" href="&CDN_Url&/lib/css/bootstrap.min.css?v=1.0.0" media="screen" />
    <link type="text/css" rel="stylesheet" href="&CDN_Url&/lib/css/jquery.dataTables.min.css?v=1.0.0" media="screen" />
</head>
<body class="pageBody" >
<!-- 页头 start -->
    {{#if isLogin "==" "true"}}
        <link type="text/css" rel="stylesheet" href="&CDN_Url&/lib/templates/header/css/bestpay.header.css?v=&version&" media="screen" />
        <div ng-include="'&CDN_Url&/lib/templates/header/bestpay.header.hbs?v=&version&'" ></div>
        <br/>
    {{else}}
        <link type="text/css" rel="stylesheet" href="&CDN_Url&/Outside/templates/header/css/bestpay.header.css?v=&version&" media="screen" />
        <div class="outside_header" ng-include="'&CDN_Url&/Outside/templates/header/bestpay.header.hbs?v=&version&'"></div>
    {{/if}}
<!-- 页头 end -->

<!-- 内容 start -->
    <div class="common-body-style" >
        <div ui-view></div>
    </div>
<!-- 内容 end -->

<!-- 页尾 start -->
    {{#if isLogin "==" "true"}}
        <div ng-include="'&CDN_Url&/lib/templates/footer/bestpay.footer.hbs?v=&version&'" class="footer"></div>
    {{else}}
        <div ng-include="'&CDN_Url&/Outside/templates/footer/bestpay.footer.hbs?v=&version&'" class="footer"></div>
    {{/if}}
<!-- 页尾 start -->

</body>
<script src="&CDN_Url&/lib/js/thirdParty/require.js?v=&version&" defer async="true"></script>
<script>
    window.onload = function(){
        var loginErrorMsg = "{{LoginErrorMsg}}";
        if(loginErrorMsg != ""){
            alert(loginErrorMsg);
        }
    }

</script>

</html>