.question{
    /*display: none;*/
}
.question .classification{
    margin-top: 20px;
}
.question .classification .items{
    background-color: #ffffff;
    width: 950px;
    height: 98px;
    padding: 5px;
}
.question .classification .icon_tag{
    background-color: #f2f2f2;
    width: 240px;
    height: 108px;
    color: #666666;
    font-size: 16px;
}
.question .classification .icon_tag img{
    margin-top: 15px;
    margin-left: 20px;
}
.question .classification .items span{
    margin: 5px;
    padding: 10px;
    display: inline-table;
    font-size: 14px;
    cursor:hand;
    cursor: pointer;
}
.question .classification .items .select_classification{
    background-color: #d6387b;
    color: #ffffff;
    border-radius: 3px
}
.question .answers{

}
.question .answers .title{
    width: 240px;
    font-size: 14px;
    margin-top: 20px;
}
.question .answers .title div{
    line-height: 24px;
    padding: 24px 20px 24px 20px;
    background-color: #f2f2f2;
    margin-bottom: 2px;
    color: #666666;
    cursor:hand;
    cursor: pointer;

}
.question .answers .title .select_title{
    color: #c81a67;
    background-color: #fbf2f2;
    border-left: 4px solid #c81a67;
    padding-left: 16px;
}
.question .answers .title .select_title img{
    position: absolute;
    margin-left: 219px;
    margin-top: 25px;
}
.question .answers .answer{
    background-color: #ffffff;
    width: 918px;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    border-left: 1px solid #c81a67;
    font-size: 16px;
    color: #666666;
    min-height: 500px;
}
.question .answers .answer .answer_title{
    color: #333333;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
